[submodule "softwipe"]
	path = softwipe
	url = https://github.com/adrianzap/softwipe
[submodule "practical-2021/googletest"]
	path = practical-2021/googletest
	url = https://github.com/google/googletest.git
